<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homage</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/css/videoPlayerSA.css">
      
    <link rel="icon" type="image/x-icon" href="/resources/favicon.ico"/>

      <script src="/js/Objectid.js"></script>

    <link href="css/jquery.galereya.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/jquery.galereya.ie.css">
    <![endif]-->

    <script src="js/jquery.galereya.js"></script>

    <style>
     input, textarea, select, label { display:block; margin: 10px; }
     input[type="text"] {
        width: 198px;
        }
    </style>
    
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-sm-4 top left-side">
                <a href="http://homage.it/app"/>
                    <img class="logo" src="http://homage.it/wp-content/themes/homage/images/homeLogo.png"></img>
                </a>                
            </div>

            <div class="col-lg-10 col-sm-8 visible-lg visible-md visible-sm hidden-xs top">
                <div id="menu">
                    <a href="https://play.google.com/store/apps/details?id=com.homage.app">
                        <img class="right-margin homagePlayStoreLink" src="http://homage.it/wp-content/themes/homage/images/googlePlay.png"/>
                    </a>
                    <a href="https://itunes.apple.com/us/app/homage/id851746600?l=iw&amp;ls=1&amp;mt=8">
                        <img class="right-margin homageAppStoreLink" src="http://homage.it/wp-content/themes/homage/images/appStore.png"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container_fluid">
        <div class="row">

            <div class="col-md-2 filler">

            </div>
            <div class="col-md-8">
                <h1 style= "color:#FF7D57" >Enter Homage Awesome Video Competition!</h1>
            </div>

            <div class="col-md-2 filler">

            </div>

        </div>


        <div class="col-md-12">
            <form class="right_margin" id="myForm" action="/form" method="post" enctype="multipart/form-data">
                <input type="text" name="first_name" placeholder="First Name" required>
                <input type="text" name="last_name" placeholder="Last Name" required>
                <input type="text" name="email" placeholder="Email" required>
                <input type="text" name="country" placeholder="Country" required>
            	<textarea name="address" rows="3" cols="25" placeholder="Address" required></textarea>
            	<input placeholder="Birth Date" class="textbox-n" type="text" onfocus="(this.type='date')"  name="birth_date" required>
                <select name="gender" style="height:26px;font-size:14px;width:198px" required>
                  <option value="" disabled selected>Select your gender</option>
            	  <option value="male">Male</option>
            	  <option value="female">Female</option>
            	</select>
            	<textarea name="about_submission" rows="5" cols="25" placeholder="Tell us about your submission.." required></textarea>
                <input type="text" name="profession" placeholder="Profession (optional)">	
            	<textarea name="feedback" rows="3" cols="25" placeholder="General feedback (optional)"></textarea>
            	<label>After Effects Project:</label>
                <input type="file" name="file" required>
                <label>By submitting this form I agree to the <a href="https://s3.amazonaws.com/homage-contest/Downloads/Contest+Rules+-+Google+Docs.pdf" target="_blank">terms</a></label>
                <input style="color:black" type="submit" value="Submit">
            </form>
        </div>
    </div>

</body>
<script type="text/javascript">
    $(".homageAppStoreLink").click(function() {
        $.get('/ios', {"src": "minisite", "origin_id":origin_id});
    });

    $(".homagePlayStoreLink").click(function() {
     $.get('/android', {"src": "minisite", "origin_id":origin_id});
    });
</script>